@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Antic+Didone&family=Bungee+Inline&family=Fredericka+the+Great&family=Monofett&family=Open+Sans:wght@300;400;800&family=Poppins:wght@200;300;400;500;700&family=Questrial&family=Raleway&family=Roboto&family=Zilla+Slab+Highlight&display=swap');

.talent-entry-font {
    font-family: "Poppins";
    font-weight: 400;
    font-size: 15px;
    width: 12vw;
}
.talent-entry-name {
    margin-left: 2vw;
    font-family: "Poppins";
    font-weight: 500;
    font-size: 16px;
    width: 15vw;
}
.talent-entry-name:hover {
    cursor:pointer;
    color:gray;
}
.talent-entry-container {
    flex-direction: row;
    display:flex;
    justify-content: left;
    width:60vw;
    height: 70px;
    align-items:center;
    border-radius: 10px;
    user-select: none;
}
.talent-entry-tag-field {
    display: inline-flex;
    border-radius: 5px;
    font-family: "Poppins";
    font-weight: 400;
    font-size: 12px;
    padding: 5px;

}
.talent-entry-linkedin {
    margin-right: 2vw;
    margin-left: 2vw;
    font-size: 40px;
    color: #0072b1;
}
.talent-entry-linkedin:hover {
    cursor:pointer;
}
.talent-entry-tag-years {
    border-radius: 5px;
    font-family: "Poppins";
    font-weight: 400;
    font-size: 12px;
    padding: 5px;
}
.talent-entry-company {
    font-family: "Poppins";
    font-weight: 400;
    font-size: 15px;
    width: 8vw;
    margin-left:2vw;
}
.talent-entry-tag-field-container {
    background-color: white;
}

.talent-entry-location {
    font-family: "Poppins";
    font-weight: 400;
    font-size: 15px;
    width: 20vw;
}
.talent-entry-resume {
    width: 8vw;
    margin-left: 2vw;
    text-align: center;
    justify-content: center;
}
.talent-entry-modal-title {
    font-family: "Poppins";
    display:flex;
    flex-direction: row;
    justify-content:flex-start;
    align-items: center;
    font-weight:600;
    font-size:25px;
    margin-left:20px;
}
.talent-entry-modal-linkedin {
    margin-left: 20px;
    font-size: 40px;
    color: #0072b1;
    margin-right:5px
}
.talent-entry-modal-linkedin:hover {
    cursor:pointer;
}
.talent-entry-modal-body-title {
    font-family: "Poppins";
    font-weight:600;
    font-size:20px;
    padding-top: 15px;
}
.talent-entry-modal-body {
    flex-direction:column;
    display:flex;
    margin-left: 20px;
}
.talent-entry-modal-body-small-title {
    font-family: "Poppins";
    font-weight:400;
    font-size:13px;
    color: gray;
}
.talent-entry-modal-body-p {
    font-family: "Poppins";
    font-weight: 500;
    font-size: 15px;
}
.talent-entry-modal-body-container {
    padding-top: 12px;
    padding-bottom:12px;
    flex-direction:column;
    display:flex;
}