.endorsedPerson-title-text {
	font-family: 'Poppins';
	font-weight: 700;
	font-size: 42px;
	margin-top: 15vh;
}

.endorsedPerson-logo {
	position: absolute;
	font-family: 'Poppins';
	top: 0px;
	left: 0px;
	margin-top: 10px;
	margin-left: 20px;
	font-size: 35px;
	color: #4685e3;
	font-weight: 700;
}

.endorsedPerson-subtitle-text {
	/* margin-top: 0.5vh; */
	font-family: 'Poppins';
	font-weight: 300px;
	font-size: 22px;
	color: lightslategray;
	margin-bottom: 0vh;
}