@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Antic+Didone&family=Bungee+Inline&family=Fredericka+the+Great&family=Monofett&family=Open+Sans:wght@300;400;800&family=Poppins:wght@200;300;400;500;700&family=Questrial&family=Raleway&family=Roboto&family=Zilla+Slab+Highlight&display=swap');
.talent-top-bar {
    display: flex;
    width: 100vw;
    margin-top: 2vh;
    align-items:center;
    justify-content:center;
    height: 100px;
    background-color: yellow;
}
.talent-logo {
    font-family: "Open Sans";
    font-weight: 700;
    font-size: 42px;
    color: #0078f5;
}
.talent-filter-bar {
    display: flex;
    align-items:center;
    justify-content:center;
    width: 100vw;
    background-color: lightblue;
    height: 80px;
}
.talent-filter-box {
    background-color: red;
}
.talent-job-field-container {
    width: 20vw;
    background-color: gray;
}
.talent-results {
    width: 60vw;
}
.talent-container {
    align-items: center;
    justify-content: center;
    display:flex;
    flex-direction: row;
    width: 80vw;
}
.talent-main-container {
    display:flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
}