@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Antic+Didone&family=Bungee+Inline&family=Fredericka+the+Great&family=Monofett&family=Open+Sans:wght@300;400;800&family=Poppins:wght@200;300;400;500;700&family=Questrial&family=Raleway&family=Roboto&family=Zilla+Slab+Highlight&display=swap');

.team-logo {
	position: absolute;
	font-family: 'Poppins';
	top: 0px;
	left: 0px;
	margin-top: 10px;
	margin-left: 20px;
	font-size: 35px;
	color: #4685e3;
	font-weight: 700;
	/* pointer-events: none; */
}

.team-logo:hover {
	cursor: pointer;
	color: #0076f576;
}

.team-centered-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 40vh;
	flex-direction: column;
	user-select: none;
}

.team-subtitle-text {
	font-family: 'Poppins';
	font-weight: 500;
	font-size: 25px;
	color: #4685e3;
}

.team-bottom-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 65vh;
	flex-direction: column;
	user-select: none;
}

.team-title-text {
	font-family: 'Poppins';
	font-weight: 600;
	font-size: 40px;
	color: #4685e3;
}

.team-row-container {
	display: flex;
	flex-direction: row;
}

.team-image {
	width: 200px;
	height: 200px;
	object-fit: cover;
	border-radius: 50%;
	margin-right: 5px;
}

.team-normal-text {
	font-size: 20px;
	font-family: "Poppins";
}

.team-row-names {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	width: 1025px;
}

.team-text-names {
  margin-left: 50px;
  margin-right: 50px;
  font-family: "Poppins";
  font-weight: 700;
  width: 200px;
}
